.match-card {
  border: 1px solid black;
  margin: 0.5rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.474);
  color: rgb(251, 251, 251);
  opacity: 1;
  width: 80vw;
  background-image: url(https://www.leagueoflegends.com/static/open-graph-2e582ae9fae8b0b396ca46ff21fd47a8.jpg);
  .blur {
    width: 100%;
    height: 100%;
    padding: 0.1rem 0rem 0rem 0rem;
    margin: 0rem;
    background-color: rgba(0, 0, 0, 0.708);
    .game-stats {
      padding: 2rem;
    }
  }
  .label {
    display: flex;
    justify-content: space-around;
    .victory {
      position: relative;
      font-size: 30px;
      color: black;
      cursor: pointer;
      color: rgb(0, 201, 0);
    }
    .defeat {
      position: relative;
      padding: 10px 0;
      font-size: 30px;
      color: black;
      cursor: pointer;
      color: red;
    }
  }
  .label .btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;

    left: 10%;
    bottom: -2rem;
    font-size: 3rem;
    font-weight: 200;
    height: 4rem;
    width: 4rem;
    transform: translateY(-50%);
  }
  .content {
    position: relative;
    height: 0;
    font-size: 20px;
    text-align: left;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
  }
  .visible {
    height: 15rem;
  }

  h1 {
    font-size: 1.8em;
  }
  p {
    font-size: 1em;
  }
}

.LOL {
  background-image: url(https://www.leagueoflegends.com/static/open-graph-2e582ae9fae8b0b396ca46ff21fd47a8.jpg);
}

.MV {
  background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/1818750/capsule_616x353.jpg?t=1662664922);
}

.CSGO {
  background-image: url(http://media.steampowered.com/apps/csgo/blog/images/fb_image.png?v=6);
}

.SC {
  background-image: url(https://media.istockphoto.com/photos/scrabble-board-game-picture-id487051045);
}

.MK {
  background-image: url(https://cdn.pocket-lint.com/r/s/970x/assets/images/140830-games-review-mario-kart-8-deluxe-review-image1-5duUm8BfrP.jpg);
}
