header {
  grid-area: header;
  display: flex;
  background-color: steelblue;
  width: 100%;
  justify-content: center;
  .header-container {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    width: 80%;
    align-items: center;

    .header-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .header-logo {
      display: flex;
      .logo {
        width: 4rem;
        height: 4rem;
      }
    }
    .links-container {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 1rem;
        text-decoration: none;
        color: aquamarine;
        cursor: pointer;
      }
    }
    .sorting-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      select {
        padding: 0.2rem;
      }
      input {
        padding: 0.2rem;
      }
      label {
        padding: 0.2rem;
      }
    }
  }
}
